<header class="contacts-header">
  <h1 class="text-center">
    All Contacts
  </h1>
  <a class="fa fa-plus contacts-header-icon"
     ui-sref="new">
    +
  </a>
</header>
<section class="all-contacts">
  <ul class="all-contacts-list">
    <li class="all-contacts-list-item"
        ng-repeat="contact in allContacts | orderBy: 'lastName'">
      <a ng-click="showContactDetails(contact)"
         class="contacts-list-item-link">
        <span ng-bind="contact.firstName"></span>
        <span ng-bind="contact.lastName"
              class="strong">
        </span>
      </a>
    </li>
  </ul>
</section>
