<header class="edit-header">
  <div class="pull-left">
    <a ui-sref="contacts">Cancel</a>
    <input type="button"
           value="Done"
           ng-click="updateContact()"
           ng-disabled="editContactForm.firstName.$pristine && editContactForm.lastName.$pristine && editContactForm.phone.$pristine && editContactForm.email.$pristine" />
  </div>
</header>
<section class="edit">
  <form class="edit-form"
        name="editContactForm">
    <input type="text"
           name="firstName"
           class="edit-form-field"
           ng-model="contactData.currentContact.firstName" />
    <input type="text"
           name="lastName"
           class="edit-form-field"
           ng-model="contactData.currentContact.lastName" />
    <input type="tel"
           name="phone"
           ng-pattern="\([0-9]{3})\s?[0-9]{3}\-[0-9]{4}|[0-9]{10}|[0-9]{3}\.[0-9]{3}\.[0-9]{4}"
           class="edit-form-field"
           ng-model="contactData.currentContact.phone" />
    <input type="email"
           name="email"
           class="edit-form-field"
           ng-model="contactData.currentContact.email" />
  </form>
</section>
