<header class="new-contact-header">
  <ul class="new-contact-header-list">
    <li class="new-contact-header-list-item">
      <a ui-sref="contacts">
        Cancel
      </a>
    </li>
    <li class="new-contact-header-list-item strong">
      New Contact
    </li>
    <li class="new-contact-header-list-item">
      <input type="button"
             value="Done"
             ng-click="saveNewContact()"
             ng-disabled="newContactForm.$invalid" />
      {{newContactForm.$invalid}}
    </li>
  </ul>
</header>
<section class="new-contact">
  <form class="new-contact-form"
        name="newContactForm">
    <input type="text"
           name="firstName"
           ng-minlength="1"
           class="new-contact-form-field"
           ng-model="newContact.firstName"
           placeholder="First name" />
           {{newContactForm.firstName.$valid}}
    <input type="text"
           name="lastName"
           ng-minlength="1"
           class="new-contact-form-field"
           ng-model="newContact.lastName"
           placeholder="Last name" />
           {{newContactForm.lastName.$valid}}
    <input type="tel"
           name="phone"
           ng-minlength="10"
           ng-pattern="telephoneRegexp"
           class="new-contact-form-field"
           ng-model="newContact.phone"
           placeholder="Phone number" />
           {{newContactForm.phone.$valid}}
    <input type="email"
           name="email"
           ng-minlength="3"
           class="new-contact-form-field"
           ng-model="newContact.email"
           placeholder="Email" />
           {{newContactForm.email.$valid}}
  </form>
</section>
